@import "navbar.scss";
@import "homeStyle.scss";
@import "animations";
@import "recipeDetails";
@import "mealsByFirstLetterStyle.scss";
@import "searchBar.scss";
@import "mealContainer";
/*@import "./partials/mealsByFirstLetterStyle.scss";*/

:root{
    --background-color: #fff;
    --background-light: beige;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 0, 86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    background-color: var(--background-light);
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    //padding: 45px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;

    section {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .container-meals-by-first-litter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
}
footer {
    background-color: #333;
    height: 80px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    .footer {
        text-align: center;
        padding: 27px;
    }
}



@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.main{
    padding-block: 1vw;
}

.container{
    padding-inline: 15vw;
}

div {
    text-align: center;
    h1 {
        font-size: 2.8vw;
        color: var(--text-light);
        font-weight: 500;
    }
}

.browse-meals {
    margin-bottom: 7vw;
}

.management {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2vw 0 2vw;
    button {
        width: 5vw;
        height: 2vw;
        margin: 0 .3vw 0 .3vw;
        padding: 0 .3vw 0 .3vw;
        background-color: red;
        span {
            font-size: 1vw;
        }
    }
}