.meal-browser {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: green;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 5px;
      padding: 10px;
      cursor: pointer;
      background-color: #2196f3;
      color: white;
      border-radius: 5px;

      &:hover {
        background-color: #0b7dda;
      }
    }
  }
}

.meal-letters {
  //margin: 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2vw;
}

h2, p, {
  padding-top: 10px;
}
.oops {
  img {
    height: 27rem;
  }
}
img {
  //border: 5px solid burlywood;
  border-radius: 15px;
}
@media (max-width: 720px) {
  .oops {
    img {
      height: 13rem;
    }
  }
  .meal-letters {
    font-size: .8rem;
    font-weight: 550;
    margin-top: 2vw;
  }
}