.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2.6rem;
  }
  img {
    width: 70%;
    margin: 3vw 0 1vw 0;
    border: none;
  }
  div {
    margin-bottom: 1vw;
  }
  .ingredient-list {
    display: flex;
    justify-content: space-between;
    margin: 1vw;
  }
  .column {
    flex-basis: calc(50%);
    margin: 0;
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      border: 1px solid #ccc;
      padding: 10px;
      //height: 3vw;
      width: 20rem;
    }
  }
}
@media (max-width: 720px) {
  .recipe-details {
    h1 {
      font-size: 1.5rem;
    }
    .column {
      li {
        width: 10rem;
        height: 3rem;
      }
    }
  }
}


